.Contacts {
   
    position:relative;
    height:40px;
    list-style:none;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    width:100%;
    background-color: #9ca5fc70;
}

.Email {
    margin: 10px 5px;
    list-style:none;
    flex-flow: row;
    display: inline-block;
    color: rgba(0, 0, 0, 0.822);
    flex-flow: column;
    width:fit-content;
}

.Tel {
    margin: 10px 10px;
    margin-left: 3%;
    list-style:none;
    display: inline-block;
    color: rgba(8, 0, 0, 0.884);
    flex-flow: column;
    width:fit-content;
    
}


.Register1 {
    list-style:none;
    margin: 10px 5px; 
    color:#003df5ee;
    flex-flow: row;
    display: inline-block;
    flex-flow: column;
    width:fit-content;
    font-weight: 800;
}
.Login {
    margin: 10px 5px;
    margin-left: 55%;
    color:#003df5ee;
    list-style:none;
    flex-flow: row; 
    display: inline-block;
    flex-flow: column;
    height: fit-content;

}
.Register1:hover,
.Login {
    color:#000;
    text-decoration: rgb(92, 102, 235) underline;
}
@media (min-width:500px){
     
  .Contacts {
        flex-flow: row;
    }
    


}