
@media(min-width:500px){
	.footer-product-izere{
		background-image: url('../img/page-top-bg.jpg');
		display: inline-block;
	}
	.footer-product-item{
		margin: 30px;
	
	}
	}
@media(min-width:900px){
.footer-product-izere{
	background-image: url('../img/page-top-bg.jpg');
	display: inline-block;
}
.footer-product-item{
	margin: 30px;

}
}
.footer-product-izere{
	background-image: url('../img/page-top-bg.jpg');
	display: flex;
}
.footer-product-item{
	margin: 50px;
}
.footer-title{
	color: blanchedalmond;
}